<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="ion-text-wrap">
        {{bixinho.nome}}
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12"> <img [src]="src" style="max-width: 100%"> </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" style="padding-top: 3vh;">
        <ion-progress-bar [value]="bixinho.experiencia_normalizada" color="dark"></ion-progress-bar>
      </ion-col>
      <ion-col size="3" style="padding-top: 2.5vh;">
        <div >
          <ion-badge color="medium" >{{bixinho.experiencia_porcentagem}}%</ion-badge>
        </div>
      </ion-col>
      <ion-col size="5">
        <div class="ion-text-end">
          <ion-chip outline="true" style="background-color: rgb(172, 172, 172);">
            <ion-label>Level: {{bixinho.level}}</ion-label>
          </ion-chip>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">Fome</ion-col>
      <ion-col size="8"> <ion-progress-bar [value]="bixinho.inapetencia" color="tertiary"> </ion-progress-bar> </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">Felicidade</ion-col>
      <ion-col size="8"> <ion-progress-bar [value]="bixinho.felicidade" color="success"></ion-progress-bar> </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="ion-text-end">
          <ion-badge color="warning">
             <ion-icon name="wallet-outline" style="font-size: 18px;"></ion-icon>
             <ion-label style="font-size: 3vh;"> $ {{bixinho.dinheiro}}</ion-label>
            </ion-badge>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
       <ion-button size="small" (click)="bixinho.bomHabito()" style="--background:rgb(0, 148, 32)">
        <ion-label style="font-weight: bolder; font-size: small;">Bom Hábito</ion-label>
       </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button size="small" (click)="bixinho.mauHabito()" color="danger">
          <ion-label style="font-weight: bolder; font-size: small;">Mau hábito</ion-label>
        </ion-button>
       </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-button (click)="bixinho.comprouComida()" color="tertiary">
          <ion-icon name="fast-food-outline" style="padding-inline-end: 5px;"></ion-icon>
          ${{bixinho.CUSTO_COMIDA}}
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button (click)="bixinho.comprouBrinquedo()" color="tertiary">
          <ion-icon name="dice-outline" style="padding-inline-end: 5px;"></ion-icon>
          ${{bixinho.CUSTO_BRINQUEDO}}
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button (click)="bixinho.verData()" >
          <ion-icon name="time-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
proximo passo e fazer o botao de renomear o bixinho. Este botao deve abrir um aviso
com um campo input para digitar o novo nome, o botao confirma e cancel.
</ion-content>
