<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tarefas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngFor="let habito of iMeusHabitosService.listaHabitos">
    <ion-item color="lightgreen" *ngIf="verificaData(habito)">
      <ion-label>
        <p style="font-weight: bolder;" class="ion-text-wrap">{{habito.texto}}</p>
        {{habito.data.getDate()}}/{{habito.data.getMonth()+1}}/{{habito.data.getFullYear()}}
      </ion-label>
    </ion-item>

    <ion-item color="lightred" *ngIf="!verificaData(habito)">
      <ion-label >
        <p style="font-weight: bolder;" class="ion-text-wrap">{{habito.texto}}</p>
        {{habito.data.getDate()}}/{{habito.data.getMonth()+1}}/{{habito.data.getFullYear()}}
      </ion-label>
    </ion-item>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" [routerLink]="registronovapagina"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
